<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <button class="btn btn-sm btn-primary" (click)="addnewInput()">
        Add new
      </button>
      <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
        <div *ngFor="let element of allTemplate">
          <div class="mb-3">
            <label for="{{ element?.label }}" class="form-label">{{
              element?.label
            }}</label>
            <input
              type="{{ element?.type }}"
              class="form-control"
              id="{{ element?.label }}"
              placeholder="{{ element?.label }}"
              formControlName="{{ element?.label }}"
            />
          </div>
        </div>
        <input class="btn btn-sm btn-secondary" type="submit" value="save" />
      </form>
    </div>

    <div class="col-10">
      {{ myFormGroup.value | json }}
    </div>
  </div>
</div>
